.navbar {
    z-index: 1;
    .nav-item {
        .nav-avatar {
            &:hover {
                color: rgb(197, 197, 197) !important;
            }
        }
        .nav-link {
            color: white;
        }
    }
}
