<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>MBS - Body Repair</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <!-- <link rel="stylesheet" href="/vendor/fontawesome/css/all.css"> -->
    <link rel="stylesheet" href="/style/floating-wpp.min.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>

  <body class="dashboard-color-fixed">
    <div id="myDiv" style="z-index: 99999"></div>
    <div class="page-dashboard">
      <div class="d-flex" id="wrapper" data-aos="fade-right">
        <!-- sidebar -->
        <div class="border-right" id="sidebar-wrapper">
          <div class="sidebar-heading text-center">
            <img
              src="/images/Logo-Tekno-Oke.png"
              width="80"
              alt=""
              class="my-3"
            />
          </div>
          <div class="list-group list-group-flush">
            <a
              href="/dashboard.html"
              class="list-group-item list-group-item-action"
              >Dashboard</a
            >
            <a
              href="/dashboard-booking.html"
              class="list-group-item list-group-item-action"
              >Booking</a
            >
            <a
              href="/dashboard-tracking-pengerjaan.html"
              class="list-group-item list-group-item-action active"
              >Tracking Pengerjaan</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Transactions</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >My Account</a
            >
          </div>
        </div>
        <!--pgae content -->
        <div id="page-content-wrapper">
          <!-- navbar -->
          <nav
            class="navbar navbar-expand-md navbar-light navbar-store fixed-top"
            data-aos="fade-down"
          >
            <div class="container-fluid">
              <button
                class="btn btn-secondary d-md-none mr-auto mr-2"
                id="menu-toggle"
              >
                &laquo; Menu
              </button>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarDashboard"
                aria-controls="navbarDashboard"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse bg-light"
                id="navbarDashboard"
              >
                <!--desktop menu -->
                <ul
                  class="navbar-nav navbar-dashboard ms-auto d-none d-md-flex"
                >
                  <li class="nav-item dropdown">
                    <a
                      href="#"
                      class="nav-link"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                    >
                      <img
                        src="https://ui-avatars.com/api/?name=joko&background=1f1235&color=ffffff"
                        alt="user"
                        class="rounded-circle mr-2 profile-picture shadow"
                        width="50"
                      />
                      Hi, Wawan
                    </a>
                    <div class="dropdown-menu text-black-50">
                      <a href="/index.html" class="dropdown-item mb-2"> Home</a>
                      <a href="/login.html" class="dropdown-item text-black-50"
                        >Logout</a
                      >
                    </div>
                  </li>
                </ul>
                <!-- mobile menu -->
                <ul class="navbar-nav d-block d-lg-none d-md-none">
                  <li class="nav-item">
                    <a href="#" class="nav-link"> Hi, Wawan </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link d-inline-block"> Home </a>
                  </li>
                  <hr />
                  <li class="nav-item">
                    <a href="/login.html" class="nav-link d-inline-block">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- section content -->
          <div class="info-booking container">
            <div class="text-header">
              <h3>Tracking Pengerjaan</h3>
            </div>
            <table class="table table-light table-hover">
              <thead>
                <tr>
                  <th scope="col">No Booking</th>
                  <th scope="col">Nopol</th>
                  <th scope="col">Nama Mobil</th>
                  <th scope="col">Tgl Kedatangan</th>
                  <th scope="col">Status</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="align-middle">BOX-243242</th>
                  <td class="align-middle">BG123D</td>
                  <td class="align-middle">Xenia</td>
                  <td class="align-middle">12/12/2021</td>
                  <td class="align-middle">
                    <span class="badge bg-primary">Process</span>
                  </td>
                  <td class="align-middle">
                    <a href="#" class="btn btn-sm btn-secondary">detail</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="align-middle">BOX-21342</th>
                  <td class="align-middle">B133DL</td>
                  <td class="align-middle">Pajero</td>
                  <td class="align-middle">12/09/2021</td>
                  <td class="align-middle">
                    <span class="badge bg-success">Success</span>
                  </td>
                  <td class="align-middle">
                    <a href="#" class="btn btn-sm btn-secondary">detail</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="align-middle">BOX-35642</th>
                  <td class="align-middle">B145CD</td>
                  <td class="align-middle">Pajero</td>
                  <td class="align-middle">12/09/2021</td>
                  <td class="align-middle">
                    <span class="badge bg-primary">Process</span>
                  </td>
                  <td class="align-middle">
                    <a href="#" class="btn btn-sm btn-secondary">detail</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="/script/jquery-3.5.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/script/script.js"></script>
    <script src="/script/floating-wpp.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      $("#myDiv").floatingWhatsApp({
        phone: "6281297135155",
        popupMessage: "Aada yang bisa saya bantu?",
        showPopup: true,
        // autoOpenTimeout: 3000,
      });
    </script>
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
